---
import Layout from '~/layouts/PageLayout.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
// import Features from '~/components/widgets/Features.astro';
// import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
// import Brands from '~/components/widgets/Brands.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';

const metadata = {
  title: 'Criptos Al Aire — Cursos de Criptomonedas y Más',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    tagline='Criptos Al Aire'
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Comienza Ahora',
        href: '/courses',
        icon: 'tabler:trending-up',
      },
      { text: 'Aprender más', href: '/blog' }]}
    image={{ src: '~/assets/images/cryptocoins.jpg', alt: 'Cryptocoins' }}
  >
  <Fragment slot="title">
    ¡Aprende a dominar las <span class="text-accent dark:text-white highlight"> criptomonedas </span>!
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      La plataforma ideal para aprender a <span class="font-semibold"> invertir y generar ganancias</span>, con la información más actualizada sobre tendencias en criptomonedas, las mejores wallets y análisis detallados en nuestro blog.
    </span>
  </Fragment>
  </Hero2>

  



  <!-- Features2 Widget ************** -->

  <Features2
    id="about"
    title="Sobre Nosotros"
    subtitle="En Criptos Al Aire, creemos que el conocimiento es el camino hacia la innovación y el éxito en el mundo financiero moderno. Somos una empresa ecuatoriana pionera en la enseñanza sobre criptomonedas y tecnología blockchain. Fundada con la misión de democratizar el acceso al conocimiento cripto, BitSwap se ha consolidado como un referente en educación financiera digital en Ecuador."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->
  <!-- Note Widget ******************* -->

  <Note />
  
  <!-- <Stats
    title="Discover the impressive impact of Astrowind"
    subtitle="The numbers below reflect the trust our users have placed in us and the remarkable outcomes we've helped them achieve."
    stats={[
      { title: 'Downloads', amount: '182K' },
      { title: 'Websites Launched', amount: '87' },
      { title: 'User Ratings', amount: '4.8' },
      { title: 'Satisfied Clients', amount: '116K' },
    ]}
  /> -->

  <!-- Brands Widget ****************** -->

  <!-- <Brands
    title="Partnerships & Collaborations"
    subtitle="At Astrowind, we believe in the power of collaboration to drive innovation and create exceptional experiences."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="¿Por qué estudiar con nosotros?"
    subtitle="En Criptos Al Aire te ofrecemos más que cursos; te brindamos una experiencia transformadora para que domines el mundo de las criptomonedas y te conviertas en un caso de éxito."
    items={[
      {
        title: 'Metodología Práctica y Clara',
        description:
        'Nuestros cursos están diseñados para que aprendas de forma sencilla y paso a paso, sin importar si eres principiante o tienes experiencia previa. Cada lección está estructurada para que comprendas fácilmente los conceptos clave del mundo cripto.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Casos de Éxito',
        description:
        'En Criptos Al Aire, nuestros estudiantes han logrado resultados sorprendentes, desde generar ingresos adicionales hasta convertirse en referentes locales en el ecosistema blockchain. Tú puedes ser el próximo gran ejemplo de éxito.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
      title: 'Facilidades de Aprendizaje',
      description:
        'Nuestra plataforma te ofrece acceso 24/7 a cursos en línea, recursos descargables y un blog actualizado con tendencias. Además, nuestro equipo de soporte está disponible para resolver tus dudas y guiarte en tu camino de aprendizaje.',
      icon: 'flat-color-icons:business-contact',
    },
    ]}
  />
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>


  <!-- Features Widget *************** -->
<!-- 
  <Features
    id="features"
    title="Main features of our templates"
    subtitle="Possess several key characteristics to effectively cater to the needs of startups and entrepreneurs."
    columns={3}
    items={[
      {
        title: 'Modern and Professional Design',
        description:
          'Have a contemporary design that reflects current design trends and gives a professional impression.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Responsive and Mobile-Friendly',
        description: 'Adapt seamlessly to different screen sizes and devices to ensure a consistent experience.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Customizability',
        description:
          'Easily customizable, allowing users to adapt the design, colors, typography, and content to match their brand identity.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Fast Loading Times',
        description: 'Optimized for speed to ensure a smooth user experience and favorable search engine rankings.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          'Incorporate SEO best practices in template structure and code to improve visibility in search engine results.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Compatibility',
        description: 'The templates work seamlessly across various content management systems and website builders.',
        icon: 'tabler:plug-connected',
      },
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    items={[
      {
        title: '¿Qué puedo aprender en los cursos de BitSwap?',
        description:
        'Desde los fundamentos de blockchain hasta estrategias avanzadas de trading y gestión de activos digitales.'
      },
      {
        title: '¿Los cursos están disponibles solo en Ecuador?',
        description:
        'En nuestra plataforma ofrecemos opciones tanto a nivel nacional como internacional.'
      },
      {
        title: '¿Es necesario tener experiencia previa?',
        description:
        'No, nuestros cursos están diseñados para principiantes y expertos por igual.' 
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Features3 Widget ************** -->

  <Features3
  title="Contáctanos"
  subtitle="Estamos aquí para ayudar y responder cualquier pregunta que puedas tener."
  columns={4}
  items={[
    {
      title: 'Teléfono',
      icon: 'tabler:phone',
      callToAction: {
        target: '_blank',
        text: 'Llámanos',
        href: '/',
        variant: 'link',
      },
    },
    {
      title: 'Correo electrónico',
      icon: 'tabler:mail',
      callToAction: {
        target: '_blank',
        text: 'Escríbenos',
        href: '/',
        variant: 'link',
      },
    },
    {
      title: 'Chatear con ventas',
      icon: 'tabler:message-circle',
      callToAction: {
        target: '_blank',
        text: 'Iniciar chat',
        href: '/',
        variant: 'link',
      },
    },
    {
      title: 'Chatear con soporte',
      icon: 'tabler:message-circle',
      callToAction: {
        target: '_blank',
        text: 'Iniciar chat',
        href: '/',
        variant: 'link',
      },
    },
  ]}
/>


  <!-- CallToAction Widget *********** -->

  <CallToAction
  actions={[
    {
      variant: 'primary',
      target: '_self',
      text: 'Empieza ahora',
      href: '/courses',
      icon: 'tabler:school',
    },
  ]}
>
  <Fragment slot="title">No dejes que el futuro te pase por delante</Fragment>

  <Fragment slot="subtitle">
    Cada día que no estás aprendiendo sobre criptomonedas, estás dejando dinero sobre la mesa. Con Criptos Al Aire, adquiere el
    conocimiento necesario para aprovechar las oportunidades del mercado y evita perder la ventaja que otros ya están tomando.
  </Fragment>
</CallToAction>

</Layout>
